<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>First</servlet-name>
        <servlet-class>First</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewStar</servlet-name>
        <servlet-class>NewStar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Factorial</servlet-name>
        <servlet-class>Factorial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Calc</servlet-name>
        <servlet-class>Calc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>One</servlet-name>
        <servlet-class>One</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Two</servlet-name>
        <servlet-class>Two</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Three</servlet-name>
        <servlet-class>Three</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Series</servlet-name>
        <servlet-class>Series</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Power</servlet-name>
        <servlet-class>Power</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>First</servlet-name>
        <url-pattern>/First</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewStar</servlet-name>
        <url-pattern>/NewStar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Factorial</servlet-name>
        <url-pattern>/Factorial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Calc</servlet-name>
        <url-pattern>/Calc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>One</servlet-name>
        <url-pattern>/One</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Two</servlet-name>
        <url-pattern>/Two</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Three</servlet-name>
        <url-pattern>/Three</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Series</servlet-name>
        <url-pattern>/Series</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Power</servlet-name>
        <url-pattern>/Power</url-pattern>
    </servlet-mapping>
</web-app>
