<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>RegistrationTask</servlet-name>
        <servlet-class>com.employee.Controller.RegistrationTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginTask</servlet-name>
        <servlet-class>com.employee.Controller.LoginTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.employee.Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profileTask</servlet-name>
        <servlet-class>com.employee.Controller.profileTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>com.employee.Controller.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegistration</servlet-name>
        <servlet-class>com.employee.Controller.UserRegistrationTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>com.employee.Controller.UserLoginTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>com.employee.Controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginTask</servlet-name>
        <servlet-class>com.employee.Controller.UserLoginTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>com.employee.Controller.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllProductTask</servlet-name>
        <servlet-class>com.employee.Controller.AllProductTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationTask</servlet-name>
        <url-pattern>/RegistrationTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginTask</servlet-name>
        <url-pattern>/LoginTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profileTask</servlet-name>
        <url-pattern>/profileTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegistration</servlet-name>
        <url-pattern>/UserRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginTask</servlet-name>
        <url-pattern>/UserLoginTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllProductTask</servlet-name>
        <url-pattern>/AllProductTask</url-pattern>
    </servlet-mapping>
</web-app>
